body {
    padding: 0;
    margin: 0;
    background-color: #2a2a2a;
    font-family: MontSerrat, Tahoma, Arial, sans-serif;
    color: #cacaca;
}

.layout {
    max-width: 800px;
    margin: 0 auto;
}


.container-profile {
    padding-top: 100px;
    display: flex;
}

.container {
    padding: 30px;
}



#profile-image-size {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#about-1 {
    margin: 1.875rem;
}


.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-menu li {
    margin: 0 10px;
}

.navbar-menu a {
    color: #cacaca;
    text-decoration: none;
    padding: 8px 16px;
}

.navbar-menu a:hover {
    color: white;
}

.navbar-toggle {
    display: none;
    color: #cacaca;
    font-size: 1.5em;
    cursor: pointer;
}

.back {
    position: fixed;
    bottom: 21.875rem;
    right: 3.125rem;
    background-color: #e88282;
    color: white;
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 50%;
    z-index: 1000;
    box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}

.back:hover {
    background-color: #d6b0b0;
    cursor: pointer;
}

/* Projects */

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.mini-card {
    display: flex;
    width: 220px;
    height: 70px;
    border: 2px dotted #aaaaaa;
    border-radius: 0.3125rem;
    margin: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card {
    position: relative;
    overflow: hidden;
    width: 20.625rem;
    height: auto;
    margin: 0.9375rem;
    border-radius: 2px;
}

#project-img {
    width: 100%;
    height: 100%;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 100%;
    transition: 0.5s;
}

.card:hover .overlay {
    top: 0;
}

.overlay p {
    text-align: center;
    line-height: 40px;
    margin-top: 2%;
}

.overlay p a {
    text-decoration: none;
    color: #fff;
}

footer {
    padding-top: 30px;
    border-top: 2px dotted #aaaaaa;
}

.footer {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.footer ul {
    list-style: none;
}

.footer li {
    margin-bottom: 10px;
}
.footer li a {
    text-decoration: none;
    color: #cacaca;
}

@media (max-width: 46.875rem) {
    .container {
        padding: 0.3125rem;
    }

    .container>h2 {
        margin: 1.875rem;
    }

    .container-profile {
        display: block;
    }

    #profile-image-size {
        display: flex;
        max-width: 15.625rem;
        max-height: 15.625rem;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

    #about-1 {
        margin: 30px;
    }

    .navbar {
        justify-content: space-between;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: auto;
        margin: 10px;
        border-radius: 2px;
        align-items: center;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 3.75rem;
        left: 0;
        background-color: #2a2a2a;
        z-index: 1;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: none 10s ease;
    }

    .navbar-menu li {
        text-align: center;
        margin: 0;
        padding: 0.625rem 0;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-menu.active {
        display: flex;
        opacity: 1;
        max-height: 31.25rem;
    }

    #knowledge {
        text-align: center;
    }

    #knowledge .container div ul{
        list-style: none;
        padding: 0;
        text-align: center;
    }

    #knowledge .container div ul li .card-container .mini-card{
        width: 100%;
    }
    footer{
        margin-top: 50px;
    }

    .footer {
        display: block;
        justify-content: center;
        align-items: center;

    }

    .mini-card {
        width: 90%;
        padding: 0;
    }

    .back {
        width: 3.125rem;
        height: 3.125rem;
        right: 10px;
        border-radius: 50%;
        bottom: 300px;
    }
}